.about {
  width: 1510px;
  text-align: center;
}

/* Hero section */
.about-hero {
  background: linear-gradient(to right, #0b3d91, #1e5cff);
  color: white;
  padding: 60px 50px;
}

.about-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Content section */
.about-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 50px;
  flex-wrap: wrap;
}

.about-box {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}

.about-box h2 {
  margin-bottom: 10px;
}

.about-box ul {
  list-style: none;
  padding: 0;
}

.about-box li {
  margin: 5px 0;
}


@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-box {
    width: 100%;
    max-width: 350px;
  }
}



.about-box {
  transition: transform 0.3s ease;
}

.about-box:hover {
  transform: scale(1.05);
}
