.services {
  text-align: center;
}

/* Hero Section */
.services-hero {
  background: linear-gradient(to right, #0b3d91, #1e5cff);
  color: white;
  padding: 60px 50px;
}

.services-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Cards Section */
.services-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 50px;
  flex-wrap: wrap;
}

.service-card {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 100%;
    max-width: 350px;
  }
}




.service-card,
.internship-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover,
.internship-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
