.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #0b3d91;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.apply-btn {
  background-color: white;
  color: #0b3d91;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.apply-btn:hover {
  background-color: #e6e6e6;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}



.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-links a {
  transition: transform 0.3s ease;
}

.nav-links a:hover {
  transform: scale(1.1);
}



.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

.logo img {
  height: 60px;   /* adjust if needed */
  width: auto;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.logo img:hover {
  transform: scale(1.05);
}